<%= render "shared/header" %>
<h1>ログイン画面</h1>

<%= form_with url: login_path, method: :post do |f| %>
  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "ログイン" %>
<% end %>
<%= link_to '戻る', request.referer || root_path  %>
