<%= render "shared/header" %>
<h1>商品詳細</h1>
<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p><%= @product.price %>円</p>

<% @product.categories.each do |category| %>
  <span><%= category.name %></span>
<% end %>
<%= link_to '戻る', request.referer || root_path  %>
